body {
  margin: 0;
  padding: 0;
  /* background: url(./images/background.png); */
  background-size: cover;
}

.title {
  text-align: center;
  font-style: normal;
  color: aliceblue;
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subTitle {
  font-size: 25px;
  color: aliceblue;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.planetName {
  color: aliceblue ;
  font-size: 20px;
  text-align: center;
}

.planets {
  background-color: bisque;
  display: flex;
  text-align: center;
  justify-content: center;
}

.planet {
 
  width: 170px;
}

.planet:hover {
  width: 200px;
  margin-top: -20px;
}

.missionCard {
  display: inline-block;
  width: 200px;
  height: 180px;
  background-color: bisque;
  border: 1px solid;
  text-align: center;
 
}

