body {
  margin: 0;
  padding: 0;
  background: url(./images/background.png);
  background-size: cover;
}

.title {
  text-align: center;
  font-style: normal;
  color: aliceblue;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subTitle {
  font-size: 25px;
  color: aliceblue;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.planetName {
  color: aliceblue;
  font-size: 20px;
  text-align: center;

}

.planets {
  display: inline-flex;
  justify-content: center;
  padding-left: 160px;
  flex-wrap: wrap;
}

.planet {
  width: 200px;
}

.planet:hover {
  width: 210px;
  margin-top: -20px;
}

.missionCard {
  display: inline-flex;
  justify-content: center;
  padding-left: 70px;
}

.card {
  background-color: rgb(226, 233, 231);
  border-radius: 10px;
  width: 250px;
  height: 200px;
  margin: 25px;
  text-align: center;
  color: rgb(27, 63, 94);
  font-size: 20px;
}

.card:hover {
  background-color: beige;
}